.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  height: 5rem;
}

.logo > img {
  height: 5rem;
}

button {
  cursor: pointer;
  font-weight: bolder;
}
